@model ExampleQrForm
@{
    ViewData["Title"] = "QR";

    // ReSharper disable once ConditionalAccessQualifierIsNonNullableAccordingToAPIContract
    var barcode = Model?.Barcode;
}

<div class="row">
    <form method="post" asp-antiforgery="true">
        <div class="mb-3" app-validation-for="Barcode" app-validationerror-class="has-error">
            <label asp-for="Barcode">Barcode</label>
            <div>
                <textarea type="text" asp-for="Barcode" class="form-control" rows="5" cols="80" maxlength="512"></textarea>
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check"></i> Update
                </button>
            </div>
        </div>
        <div if="@(!String.IsNullOrEmpty(barcode))" class="mb-3">
            <qrcode height="320" width="320" content="@barcode" />
        </div>
    </form>
</div>
